<div class="layout layout--index home--index">
    <nav class="chapter-nav home-menu" aria-label="Site navigation">
        <ul class="home-menu__list">
            <li class="home-menu__item home-menu__item--resume"><a href="/cv/resume.html">my resume</a></li>
            <li class="home-menu__item home-menu__item">
                <a href="/articles.html">articles</a>
            </li>
            <li class="home-menu__item home-menu__item--articles"><a href="/talks.html">talks</a></li>
            <li class="home-menu__item home-menu__item"><a href="/critiques.html">critiques</a></li>
            <li class="home-menu__item home-menu__selected-item"><a href="/mysterious_links.html">mysterious links</a>
            </li>

        </ul>
    </nav>
    <main>
        {{safe (yocaml_body) }}
    </main>
</div>