<div class="layout layout--index home--index">
    <nav class="chapter-nav home-menu" aria-label="Site navigation">
        <ul class="home-menu__list">
            <li class="home-menu__item home-menu__item--resume"><a href="/resume.html">my resume</a></li>
            <li class="home-menu__item home-menu__item"><a href="/articles.html">articles</a></li>
            <li class="home-menu__item home-menu__selected-item"><a href="/talks.html">talks</a></li>
            <li class="home-menu__item home-menu__item"><a href="/mysterious-links.html">mysterious links</a>
            </li>

        </ul>
    </nav>
    <main>
        {{safe (yocaml_body) }}

        <p>There are no {{ page_title }} yet.</p>

    </main>
</div>