<div class="layout layout--index home--index">
    <nav class="chapter-nav home-menu" aria-label="Site navigation">
        <ul class="home-menu__list">
            <li class="home-menu__item home-menu__item--resume"><a href="/resume.html">my resume</a></li>
            <li class="home-menu__item home-menu__item"><a href="/articles.html">articles</a></li>
            <li class="home-menu__item home-menu__selected-item"><a href="/talks.html">talks</a></li>
            <li class="home-menu__item home-menu__item"><a href="/mysterious_links.html">mysterious links</a>
            </li>

        </ul>
    </nav>
    <main>
        {{safe (yocaml_body) }}

        {% for talk in talks %}
        <section>
            <h1>{{ talk.title }}</h1>
            <p>{{safe (talk.abstract) }}</p>


            {% for event in talk.events %}
            <div>
                <h2>{{ event.organization }} {{ event.name }}</h2>
                <p>{{ event.date.repr.date }}</p>
            </div>
            {% endfor %}
        </section>
        {% endfor %}
    </main>
</div>